PORT=3001
DATABASE_URL="postgresql://johndoe:prisma@localhost:5432/shopping?schema=public"
TEST_DATABASE_URL="postgresql://johndoe:prisma@localhost:5432/shopping_test?schema=public"
STORES="walmart,wholefoods,aldi,target"