name: Deploy to Wippler k8s

on:
  push:
    branches:
      - main

env:
  REPOSITORY: shopping
  REGISTRY: d.wplr.rocks

jobs:
  build-and-deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.REG_USER }}
          password: ${{ secrets.REG_PW }}

      - name: Set build environment variables
        run: |
          echo "NEXT_PUBLIC_WS_URL=https://shopping.wplr.rocks" > frontend/.env.local
          echo "DATABASE_URL=postgresql://<user>:<pass>@<host>:5432/<dbname>?schema=public" > server/.env

      - name: Build and push Frontend image
        uses: docker/build-push-action@v3
        with:
          context: frontend/.
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}-fe:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}-fe:latest

      - name: Build and push Server image
        uses: docker/build-push-action@v3
        with:
          context: server/.
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}-s:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.REPOSITORY }}-s:latest

      - name: Update Kubernetes Deployments
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.HOST }}
          username: kubedeploy
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            kubectl --namespace web set image deployment/shopping shopping=${{ env.REGISTRY }}/${{ env.REPOSITORY }}-fe:${{ github.sha }}
            kubectl --namespace web set image deployment/shopping-server shopping-server=${{ env.REGISTRY }}/${{ env.REPOSITORY }}-s:${{ github.sha }}
            kubectl --namespace web rollout status deployment/shopping
            kubectl --namespace web rollout status deployment/shopping-server
